{% load socialaccount %}
<html>
<title>Polls App</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if user.is_authenticated %}
<h2>Welcome {{ user.username }}</h2>
<h3>-Latest polls-</h3>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    <p><a href="//127.0.0.1:8000/accounts/logout/">Logout</a>
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% else %}
<h2>Login to view this page.</h2>
<p>Already have account?<p><a href="/accounts/login/">Login</a></p><p><a href="{% provider_login_url "google" %}">Login with Google</a></p></p>
<h4>or</h4>
<p>Create a new account.<p><a href="register/">Sign up</a></p></p>
{% endif %}
</html>